<head>
  <link rel="stylesheet" href="style.css">
  <script src="js.js"></script>
</head>
<body>
  <div id="drag" class="cv instaFade wrap">
    <div class="mainDetails">
      <div id="headshot" class="">
        <img src="profile.jpg"/>
      </div>

      <div id="name">
        <h1 class="quickFade delayTwo">Farel Brahmantyah Rivera</h1>
      </div>

      <div id="contactDetails" class="quickFade delayFour">
        <ul>
          
         <!-- <li><a href="//linkedin.com/in/jennifermogan" title="LinkedIn"><i class="fa fa-print" aria-hidden="true"></i></a></li>-->
          <li><a href="//linkedin.com/in/jennifermogan" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          
        </ul>
      </div>
     <div class="clear"></div>
    </div>

    <div id="mainArea" class="quickFade delayFive">
      
      <section>
        <article>
          <div class="sectionTitle">
            <h1>Personal Profile</h1>
          </div>

          <div class="sectionContent">
            <p> Nama saya Farel Brahmantyah Rivera, mahasiswa jurusan Sistem Informasi di Universitas Pembangunan Nasional "Veteran" Jawa Timur. 
              Saya memiliki minat yang besar dalam bidang teknologi dan pengembangan sistem informasi. 
              Selain itu, saya juga aktif dalam berbagai kegiatan di kampus, seperti organisasi dan kegiatan sosial. 
              Saya memiliki kemampuan analisis dan pemecahan masalah yang baik, serta mampu bekerja sama dalam tim. 
              Setelah lulus, saya berharap dapat bekerja di perusahaan teknologi yang inovatif dan dapat memberikan kontribusi positif dalam pengembangan sistem informasi yang lebih baik.</p>
          </div>
        </article>
        <div class="clear"></div>
      </section>


      <section>
        <div class="sectionTitle">
          <h1>Work Experience</h1>
        </div>

        <div class="sectionContent">
          <article>
            <h3>IT Staff</h3>
            <h3>PT. Masaji Tatanan Kontainer Indonesia</h3>
            <p class="subDetails">Jan. 2023 - Present</p>
            <p><ul >
              <li>Memastikan keamanan dan privasi data perusahaan terjaga dengan baik</li>
              <li>Menangani permintaan dukungan teknis dari karyawan perusahaan</li>
              <li>Mengembangkan dan memelihara sistem basis data perusahaan</li>
              <li>Mengelola jaringan komputer dan perangkat keras perusahaan</li>
              <li>Merancang dan mengembangkan solusi teknologi informasi untuk memenuhi kebutuhan bisnis perusahaan</li>
          </ul>
        </p>
          </article>
        </div>
        
        
        <div class="clear"></div>
      </section>


      <section>
        <div class="sectionTitle">
          <h1>Key Skills</h1>
        </div>

        <div class="sectionContent">
          <ul class="keySkills">
            <li>Networking</li>
            <li>Troubleshooting</li>
            <li>Database Management</li>
            <li>Website</li>
            <li>Maintenance</li>
            <li>Microsoft Office</li>
            <li>Communication</li>
          </ul>
        </div>
        <div class="clear"></div>
      </section>


      <section id="Education">
        <div class="sectionTitle">
          <h1>Education</h1>
        </div>

        <div class="sectionContent">
          <article>
            <h2>Universitas Pembangunan Nasional "Veteran" Jawa Timur</h2>
            <p class="subDetails">Bachelor’s of Information Technology </p>
          </article>
        </div>
        <div class="clear"></div>
      </section>

      
      <section>
        <article>
          <div class="sectionTitle">
            <h1>Contact</h1>
          </div>

          <div class="sectionContent">
            <p>Perumahan Griya Pabean 2 Blok G/12 RT.54 RW.14, Pabean, Sedati, Sidoarjo</p> 
          </div>
          
          <div class="sectionContent">
            <p>20082010067@student.upnjatim.ac.id</p>
          </div>
          
          <div class="sectionContent">
            <p>085156044586</p>
          </div>
          
        </article>
        <div class="clear"></div>
      </section>
      
      
      
    </div>
  </div>

 

</body>